body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: #1a1a1a;
}

canvas {
  display: block;
  background: #2e2e2e;
}

#chatBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  padding: 5px;
}

#messages {
  max-height: 120px;
  overflow-y: auto;
  color: white;
  font-size: 14px;
}

#chatInput {
  width: 100%;
  padding: 6px;
  border: none;
  outline: none;
}
