#playerCount {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
}

#namePrompt {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 20px;
  color: white;
  border-radius: 8px;
}
